<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
    <div class="row">
      <h1 class="col-lg-12">Gestor de clientes</h1>
      <button on-click="obtenerClientes">Obtener clientes</button>
      <table hidden$="{{noCargados}}">
        <tbody>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>
              <td>
                [[item.CustomerID]]
              </td>
              <td>
                [[item.CompanyName]]
              </td>
              <td>
                [[item.ContactName]]
              </td>
            </tr>

          </template>
        </tbody>
      </table>
    </div>
    </div>
  </template>

  <script>
  /**
   * @customElement
   * @polymer
   */
  class GestorClientes extends Polymer.Element {
    static get is() { return 'gestor-clientes'; }
    static get properties() {
      return {
        clientes: {
          type: Array,  //En JS hay muy pocos tipos, entre ellos Array
          notify: true //Solo es si quiero poner un manejador a medida, por ejemplo limoiar lista
        },
        noCargados: {
          type: Boolean,
          value: true
        }
      };
    }
    obtenerClientes(){
      var request = new XMLHttpRequest();
      request.open("GET", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);// False es de manera sincrona
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes=JSON.parse(request.responseText).value; //Almacenamos la respuesta en nuestra variable clietes array
      console.log(this.clientes);ç
      this.noCargados = false;
    }

    anadirCliente(){
      var request = new XMLHttpRequest();
      request.open("POST", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);// False es de manera sincrona
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var nuevoCliente = {"CustomerID":"12345", "CompanyName": "Mi comania", "ContactName": "Pedro"};
      var body = JSON.stringify(nuevoCliente); // si no stringify lo envía en binario y da errror
      request.send(body);
      this.respuesta=request.responseText;
      console.log(this.respuesta);
    }

    modificarCliente(){
      var request = new XMLHttpRequest();
      request.open("PUT", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);// False es de manera sincrona
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      var nuevoCliente = {"CustomerID":"12345", "CompanyName": "Mi comania", "ContactName": "Pedro"};
      var body = JSON.stringify(nuevoCliente); // si no stringify lo envía en binario y da errror
      request.send(body);
      this.respuesta=request.responseText;
      console.log(this.respuesta);
    }

    eliminaCliente(){
      var request = new XMLHttpRequest();
      request.open("PUT", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers?33333", false);// False es de manera sincrona
      request.setRequestHeader("Accept", "application/json");
      request.send();
    }


  }

  window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
