<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="angel-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>    
    <div class="container">
      <br><br>
      <div class="row">
      <label>Usuario:</label>
      <input placeholder="Ponga su usuario" value="{{usuario::input}}"/>
      <label>Password:</label>
      <input type="password" placeholder="Ponga su password" value="{{password::input}}"/>
      <table>
        <tr>
          <td><button on-click="mostrarLabel">Login</button></td>
          <td><label>[[labelOK]]</label></td>
        </tr>
      </table>
    </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AngelLogin extends Polymer.Element {
      static get is() { return 'angel-login'; }
      static get properties() {
        return {
          usuario: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          labelOK: {
            type: String,
            value: ''
          }
        };
      }
      mostrarLabel (){
        this.labelOK = this.usuario +"-" + this.password +":" +'Password correcta';
      }
    }

    window.customElements.define(AngelLogin.is, AngelLogin);
  </script>
</dom-module>
